.axis
    text
        font-size: 12px
        font-family: $defaultFont
        fill: #ccc

    .label
        text-anchor: middle
        fill: $accentColor

    path, line
        fill: none
        stroke: #555
        shape-rendering: crispEdges

circle, ellipse
    fill: $neutralColor

    &.range
        opacity: 0.5

g.unit text
    font-size: 11px
    fill: $textColor
    font-family: monospace
    pointer-events: none
    -webkit-transform: translate(5px, -5px)

.allies
    circle, ellipse
        fill: $alliesColor

.soviet
    circle, ellipse
        fill: $sovietColor

circle.hover
    fill: transparent

.legend
    rect
        fill: rgba(#eee, 0.1)
    line
        stroke: #555
        shape-rendering: crispEdges
    text
        fill: #aaa
        font-family: sans-serif
        font-size: 11px

        &.center
            text-anchor: middle
