.axis path, .axis line
    fill: none; stroke: black; shape-rendering: crispEdges

.allies circle
    fill: blue

.soviet circle
    fill: red

.allies_soviet circle
    fill: #999

text
    font-size:11px; fill: #333; font-family: sans-serif;

g.unit text
    -webkit-transform: translate(5px, -5px)

circle.range
    opacity: 0.4;
