$defaultFont = 'RedOctober'

$textColor = #fff
$accentColor = #ec6
$sovietColor = #f55
$alliesColor = #55f
$neutralColor = #aaa

@font-face
    font-family: $defaultFont
    font-weight: normal
    src: url('RedOctober.ttf') format('truetype')

html, body
    margin: 0
    min-height: 100%

html
    background: #111 radial-gradient(at 90% 10%, #322, #111)
    color: $textColor
    -webkit-font-smoothing: antialiased

header
    width: 400px
    margin: 1rem auto
    text-align: center
    font-family: $defaultFont

    h1
        font-size: 3rem
        line-height: 1
        margin: 0.5rem 0
        border-bottom: 4px solid $accentColor

    > div
        font-size: 1.5rem
        color: $accentColor

menu
    padding: 0.5rem 1rem
    background: linear-gradient(#333, #111)

label
    font-family: $defaultFont
    margin-right: 20px

.axis
    text
        font-size: 12px
        font-family: $defaultFont
        fill: #ccc

    .label
        text-anchor: middle
        fill: $accentColor

    path, line
        fill: none
        stroke: #555
        shape-rendering: crispEdges

g.unit
    text
        font-size: 11px
        fill: $textColor
        font-family: monospace
        -webkit-transform: translate(5px, -5px)

    .range
        opacity: 0.5

.allies
    circle, ellipse
        fill: $alliesColor

.soviet
    circle, ellipse
        fill: $sovietColor

.allies_soviet
    circle, ellipse
        fill: $neutralColor

