@font-face {
  font-family: 'RedOctober';
  font-weight: normal;
  src: url("RedOctober.ttf") format('truetype');
}
html,
body {
  margin: 0;
  min-height: 100%;
}
html {
  background: #111 radial-gradient(at 90% 10%, #322, #111);
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
header {
  width: 400px;
  margin: 1rem auto;
  text-align: center;
  font-family: 'RedOctober';
}
header h1 {
  font-size: 3rem;
  line-height: 1;
  margin: 0.5rem 0;
  border-bottom: 4px solid #ec6;
}
header > div {
  font-size: 1.5rem;
  color: #ec6;
}
menu {
  padding: 0.5rem 1rem;
  background: linear-gradient(#333, #111);
}
label {
  font-family: 'RedOctober';
  margin-right: 20px;
}
.axis text {
  font-size: 12px;
  font-family: 'RedOctober';
  fill: #ccc;
}
.axis .label {
  text-anchor: middle;
  fill: #ec6;
}
.axis path,
.axis line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}
g.unit text {
  font-size: 11px;
  fill: #fff;
  font-family: monospace;
  -webkit-transform: translate(5px, -5px);
}
g.unit .range {
  opacity: 0.5;
}
.allies circle,
.allies ellipse {
  fill: #55f;
}
.soviet circle,
.soviet ellipse {
  fill: #f55;
}
.allies_soviet circle,
.allies_soviet ellipse {
  fill: #aaa;
}
.tooltip {
  position: absolute;
  background: rgba(0,0,0,0.9);
  padding: 10px;
  max-width: 300px;
}
.tooltip.hidden {
  visibility: hidden;
}
.tooltip h2 {
  margin: 0 0 3px;
  font-family: monospace;
  font-size: 1em;
}
.tooltip div {
  color: #aaa;
  font-family: monospace;
}
